/*  your css code here. If applicable */
#t12{
	text-align:center;
}
#t13{
	text-align:right;
}
table{
	border:1px solid rgb(0,0,0);
	border-spacing:1px;
	cellpadding:1px;
}
.green{
	background-color:green;
}
.blue{
	background-color:blue;
}