/*  your css code here. If applicable */
#t12{
	text-align:center;
}
#t13{
	text-align:right;
}
table, th, td {
    border: 1px solid rgb(0, 0, 0); 
    border-collapse: collapse;
.green{
	background-color:green;
}
.blue{
	background-color:blue;
}